{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <form class="options" method="POST" action="{{ url_for('vote') }}">
        {% for option in poll %}
            <div class="option">
                <input class="option-input" id="{{ option[3] }}" type="radio" name="vote" value="{{ option[2] }}" /><div class="checkmark"></div>
                <label for="{{ option[3] }}">Vote for {{ option[3] }}</label>
            </div>
        {% endfor %}
        <div class="right-button-container">
            <input type="submit" />
        </div>
        </form>
    </div>
{% endblock %}